body {
    position: absolute;
    height:100%;
    width: 100%;
    background-color:#193549;
    color: black;
    font-family: Courier;
}

canvas {
    position: relative;
    z-index: 100;
}

img {
    position: relative;
}

#root {
    height: 100%;
    width: 100%;

}

.App {
    height: 100%;
    width: 100%;
}


.Dashboard {
    height: 100%;
    width: 100%;
}

.AccountResources {
    padding: 15px;
    border: solid;
    border-radius: 8px;
    border-color: white;
}

.ActionsCost {
    padding: 15px;
    border: solid;
    border-radius: 8px;
    border-color: white;
    margin-top: -35%;
}

.GraphMonitor {
    background-color:#193549;
    color: white;
    font-family: Courier;
    width: 70%;
    height: 30%;
    border-radius: 8px;
}

#account {
    position: relative;
    top: 20px;
    float: right;
    right: 45px;
    z-index: 10;
    height: 25px;
    width: 30%;
    border-radius: 20px;
    background-color: white;
    padding: 5px;

}
.Params {
    padding: 10px;
    background-color: #152c3d;
    color: white;
    font-family: Courier;
    font-size: 1vw;
    width: 20%;
    height: 30%;
    margin-left: 5%;
    transform: translateY(60%);
    border-radius: 15px;
    text-align: center;
}


.Abi {
    color: white;
    cursor: pointer;
    margin: 30px;
    // border: solid;
    border-radius: 20px;
}
.Wasm {
    color: white;
    cursor: pointer;
    margin: 30px;
    // border: solid;
    border-radius: 20px;
}


.Params input {
    position: relative;
    display: none;
    border: none;
    transform: translateY(10%);
    background: rgb(134, 198, 221);
    width: 200px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    &:focus {
        outline: none;
    }
    &:active {
        border: none;
    }
}

#estimate {
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(100, 100, 100);
    margin: auto 0;
    transform: translateY(200%);
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    &:focus {
        outline: none;
    
    }
    &:active {
        border: none;
        background-color: grey;
        color: white;
    }

}

.ContractBillContainer{
    position: absolute;
    line-height: 1.0;
    transform: translateY(-10%);
    color: white;
    right: 5%;
    border: solid;
    border-color: white;
    border-radius: 8px;
    width: 17%;
    height: 70%;

}

.ContractBillContainer div {
    border: solid;
    border-width: 1px;
    margin: 20px;
    border-color: white;
    height: 60px;
    border-radius: 8px;
    color: white;

}

.ContractBillContainer div p {
    color: rgb(255, 183, 49);

}

.chartjs-size-monitor{
    height: 50px;
    width: 100%;
}

#balanceVisual {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

a { 
    position: relative;
    width:5%;
    margin-left: 38%;
    top: 20px;
    text-decoration: none;
    color: greenyellow;

}

.plus-button {
    border: 2px solid lightgrey;
    margin-top: 15px;
    background-color: #fff;
    transform: translateY(30%);
	font-size: 13px;
	height: 30px;
	width: 30px;
	border-radius: 999px;
    position: relative;
    display: inline-block;
	
	&:after,
	&:before {
		content: "";
		display: block;
		background-color: grey;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
	&:before {
		height: 1em;
		width: 0.2em;
	}

	&:after {
		height: 0.2em;
		width: 1em;
	}
}
.plus-button--small {
	font-size: 12px;
}
